@import "tailwindcss";
@import "../styles/custom_classes.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #ea6bbc;
  --secondaryColor: #b22d64;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}